<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
      <div class="about content">
          <h2>About US</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, doloremque.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, doloremque.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, doloremque.</p>
      </div>
      <%- include('./partials/footer.ejs') %>
</body>
</html>